@import 'assets/styles/variables/colors.css';
@import 'assets/styles/variables/spacing.css';
@import 'assets/styles/variables/typography.css';
@import 'assets/styles/variables/shapes.css';
@import 'assets/styles/variables/layout.css';
@import 'assets/styles/variables/misc.css';

@import 'assets/styles/base/typography.css';
@import 'assets/styles/base/base.css';
@import 'assets/styles/base/fontfaces.css';

@import 'assets/styles/components/taipy-blocks.css';
@import 'assets/styles/components/taipy-controls.css';
@import 'assets/styles/components/card.css';
@import 'assets/styles/components/sidebar.css';

@import 'assets/styles/utilities/colors.css';
@import 'assets/styles/utilities/typography.css';
@import 'assets/styles/utilities/layout.css';
@import 'assets/styles/utilities/spacing.css';

/* Welcome user header */
#dialog_button,
#dialog_button:hover {
  justify-content: start;
  min-width: fit-content;
  padding: 0 0.25rem;
  border: none;
  background: transparent;
  border-radius: var(--border-radius-small);
  color: var(--palette-primary);
  line-height: inherit;
  vertical-align: baseline;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
}
