/**************************************************************

                   COLOR VARIABLES

***************************************************************/

/* 
  Repeat Mui theme palette values here for consistency 
  between pure CSS styling and MUI theme styling 
*/

:root{
  /* Taipy light theme by default */
  --palette-bg: #f1f1f1;
  --palette-paper: #ffffff;
  
  /* Theme colors */
  --palette-primary: #ff462b;
  --palette-secondary: #283282;

  /* Feedback colors */
  --palette-error: #FF595E;
  --palette-warning: #FAA916;
  --palette-success: #96E6B3;
}

.taipy-dark{
  --palette-bg: #051924;
  --palette-paper: #072636;
}