/**************************************************************

                   COLOR UTILITIES

***************************************************************/

.color_primary { color: var(--palette-primary) !important; }
.color_secondary { color: var(--palette-secondary) !important; }
.color_error { color: var(--palette-error) !important; }
.color_warning { color: var(--palette-warning) !important; }
.color_success { color: var(--palette-success) !important; }

.bg_primary { background-color: var(--palette-primary) !important; }
.bg_secondary { background-color: var(--palette-secondary) !important; }
.bg_error { background-color: var(--palette-error) !important; }
.bg_warning { background-color: var(--palette-warning) !important; }
.bg_success { background-color: var(--palette-success) !important; }