/**************************************************************

                   LAYOUT GRID UTILITIES

***************************************************************/

.container{
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - (var(--spacing1) * 2));
  max-width: var(--container-max-width);
}

.align_columns_top { align-items: start !important; }
.align_columns_center { align-items: center !important; }
.align_columns_bottom { align-items: end !important; }

.align_item_top { align-self: start !important; }
.align_item_center { align-self: center !important; }
.align_item_bottom { align-self: end !important; }