/**************************************************************

                   TAIPY CONTROLS OVERRIDES

***************************************************************/

/*************************************************
              BUTTON
**************************************************/

.taipy-button.fullwidth {
  display: flex;
  width: 100%;
}

/* Other color variants for default "outline" button */
.taipy-button:where(:not(.Mui-disabled)).secondary {
  border-color: var(--palette-secondary);
  color: var(--palette-secondary);
}
.taipy-button:where(:not(.Mui-disabled)).error {
  border-color: var(--palette-error);
  color: var(--palette-error);
}
.taipy-button:where(:not(.Mui-disabled)).warning {
  border-color: var(--palette-warning);
  color: var(--palette-warning);
}
.taipy-button:where(:not(.Mui-disabled)).success {
  border-color: var(--palette-success);
  color: var(--palette-success);
}

/* Plain button */
.taipy-button:where(:not(.Mui-disabled)).plain{
  background-color: var(--button-bg, var(--palette-primary));
  color: var(--button-color, white);
}
.taipy-button:where(:not(.Mui-disabled)).plain.secondary{
  --button-bg: var(--palette-secondary);
}
.taipy-button:where(:not(.Mui-disabled)).plain.error{
  --button-bg: var(--palette-error);
}
.taipy-button:where(:not(.Mui-disabled)).plain.warning{
  --button-bg: var(--palette-secondary);
}
.taipy-button:where(:not(.Mui-disabled)).plain.success{
  --button-bg: var(--palette-success);
}

/*************************************************
              TOGGLE
**************************************************/

.taipy-toggle {
  z-index: 10;
}
.taipy-toggle .MuiToggleButtonGroup-root[aria-label='Theme mode'] {
  background-color: var(--palette-bg);
}

/*************************************************
              DATE
**************************************************/

.taipy-date {
  display: block;
}

/*************************************************
              SLIDER
**************************************************/

.taipy-slider {
  max-width: 100%;
}

/*************************************************
              EXPANDABLE
**************************************************/

.taipy-expandable.MuiPaper-rounded{
  border-radius: var(--border-radius);
}

/* Expandable button label */
.taipy-expandable .MuiAccordionSummary-content{
  font-weight: 600;
  transition: color var(--transition-duration);
}
.taipy-expandable .MuiAccordionSummary-content:hover{
  color: var(--palette-primary);
}